Source: libnet-lpr-perl
Section: perl
Priority: optional
Maintainer: Ryan Niebur <ryan@cat.pdx.edu>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.4
Homepage: http://search.cpan.org/dist/Net-LPR/

Package: libnet-lpr-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: perl extension for printing to RFC1179-compliant print servers
 This module implements a low-level interface into a line printer
 daemon connection. It implements all the commands listed in RFC 1179,
 including queue control commands and output file formatting commands.
